<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#ciudades" type="button"
            role="tab"
            aria-controls="home" aria-selected="true">Ciudades
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#vendedores" type="button" role="tab"
            aria-controls="profile" aria-selected="false">Vendedores
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="ciudades" role="tabpanel" aria-labelledby="home-tab">
    <table class="table table-striped table-hover mt-2">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.id }}</td>
        <td>{{ dato.description }}</td>
        <td>
          <!--crear on clic en angular-->
          <button class="m-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarCiudad">EDITAR</button>
          <button class="m-1 btn btn-danger">ELIMINAR</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="vencedores" role="tabpanel" aria-labelledby="profile-tab">...</div>


  <!-- Modal Cidad -->
  <div class="modal fade" id="editarCiudad" tabindex="-1" aria-labelledby="editarCiudad" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Ciudad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre de la Ciudad"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Guardar</button>
          *ngIf="!loading"
        </div>
      </div>
    </div>
  </div>
</div>
